.login label {
  margin-right: 10px;
}

.login input {
  margin: 2px;
  padding: 4px;
  border-radius: 15px;
  width: 200px;
}

.login button {
  margin: 20px 5px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
  padding: 6px;
}

.login button:hover {
  cursor: pointer;
  background-color: #CCCCCC;
}