.login label {
  font-size: 22px;
  margin-right: 10px;
}

.username-input, .password-input {
  font-size: 20px;
  padding: 4px 12px;
  border-radius: 15px;
  width: 250px;
}

.username-input {
  margin: 30px 5px 8px 0;
}

.login button {
  margin: 20px 5px;
}

.spinner {
  margin: 30px;
  font-size: 30px;
}