.landing {
  background-color: rgb(209, 226, 224);
  padding: 60px 14.5%;
  margin-bottom: 50px;
}

.boba-description {
  text-align: justify;
  margin: 50px 0 20px 0;
}

.city-notice {
  font-style: italic;
  text-align: justify;
  font-size: 16px;
  margin-top: 50px;
}

.demo {
  font-size: 25px;
  border-width: 3px;
  padding: 12px;
  width: 130px;
}

.landing-info {
  padding: 0 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.landing-info img {
  flex: 1;
  height: 30%;
  min-width: 250px;
  width: 30%;
  border-radius: 25px;
  margin: 15px;
}

@media all and (min-width: 1200px) {
  .landing {
    padding: 60px 25%;
  }
}