.register h2 {
  margin-bottom: 30px;
}

.register label {
  display: block;
  margin: 2px auto;
}

.register input {
  font-size: 20px;
  display: block;
  margin: 2px auto;
  padding: 4px 12px;
  border-radius: 15px;
  width: 250px;
}

