.shop-tea-list li {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 25px;
  padding: 5px 10px;
}

.drink-tab {
  cursor: pointer;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-list-drink-name {
  margin: 3px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.angle {
  margin: 0 15px;
  font-size: 28px;
}

.drink-tab img {
  max-width: 20px;
  margin: 0 15px;
}

.check {
  margin: 10px;
  font-size: 20px;
  color: rgb(45, 121, 111);
}

.user-rating {
  margin-bottom: 5px;
  font-size: 25px;
}

.user-star {
  margin: 3px;
  color: rgb(53, 143, 131);
  cursor: pointer;
  transition: color 0.2s;
}

.user-star:hover {
  color: rgb(121, 233, 218);
  cursor: pointer;
}