.heart {
  color: #777777;
  cursor: pointer;
}

.star {
  color:#777777;
  cursor: pointer;
}

.heart:hover {
  color: #222222;
  cursor: pointer;
}

.star:hover {
  color:#111111;
  cursor: pointer;
}

.star-rated {
  font-size: 25px;
  color: white;
  border-color: #777777;
  border-style: solid;
  background-color: #777777;
  border-radius: 5px;
  padding: 1px 0 2px 0;
  margin: 1px 1px 0 1px;
}

.star-unrated {
  font-size: 25px;
  color: white;
  border-color: #CCCCCC;
  border-style: solid;
  background-color: #CCCCCC;
  border-radius: 5px;
  padding: 1px 0 2px 0;
  margin: 1px 1px 0 1px;
}