.rankings {
  margin: 10px 100px;
  display: flex;
  justify-content: space-evenly;

  flex-direction: row;
}

.boba-tea-ranking ol {
  list-style-position: inside;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.boba-tea-ranking h4 {
  margin: 5px;
}

.boba-tea-ranking li {
  padding: 10px 10px;
  margin: 10px;
  border-style: solid;
  border-radius: 25px;
  width: 18%;
  min-width: 250px;
}