.shop-list-page h2 {
  margin-left: 20px;
  margin-right: 20px;
}

.shop-list-page h3 {
  margin-bottom: 50px;
}

.shop-list ul {
  list-style-position: inside;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.shop-list li:hover {
  background-color: rgb(224, 224, 224);
}

.shop-list h4 {
  font-size: 22px;
  margin: 10px;
}

.shop-list li {
  display: flex;
  margin: 8px;
  background-color: white;
  padding: 0;
  border-color: rgb(47, 173, 159);
  border-width: 6px;
  border-style: double;
  border-radius: 25px;
  width: 150px;
  height: 120px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.shop-list a:hover {
  color: rgb(52, 204, 186);
  text-decoration: none;
}

@media all and (min-width: 600px) {
  .shop-list li {
    width: 225px;
    margin: 16px;
  }

  .shop-list h4 {
    font-size: 26px;
  }
}

@media all and (min-width: 1200px) {
  .shop-list {
    margin: 0 250px;
  }
}