* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  color: #444444;
  text-align: center;
  min-width: 300px;
}

select {
  width: 200px;
  font-size: 15px;
  padding: 8px;
  border-radius: 15px;
}

select:hover {
  cursor: pointer;
}

button {
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
  padding: 6px;
}

button:hover {
  cursor: pointer;
  background-color: #CCCCCC;
}

ul {
  list-style: none;
  padding: 0;
}

a:link {
  color: #555555;
  text-decoration: none;
}

a:visited {
  color: #555555;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

a:active {
  color: #EEEEEE;
  text-decoration: underline;
}