nav {
  display: flex;
  padding: 0.5% 0;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 3px #c7c7c7;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

nav p {
  font-size: 17.5px;
}

nav select {
  padding: 5px;
  border-radius: 20px;
  width: 130px;
}

.nav-header img {
  max-width: 150px;
  height: auto;
  margin: 20px;
}

.nav-header, .nav-links {
  margin: auto 5px;
}

.active p {
  color: rgb(47, 173, 159);
}

.bars {
  margin: 0 20px;
  font-size: 45px;
}

.bars:hover {
  cursor: pointer;
}

.desktop-nav {
  display: none;
}

@media all and (min-width: 1200px) {
  .mobile-nav {
    display: none;
  }

  .nav-header {
    margin-left: 14%;
  }

  .nav-links {
    margin-right: 14%;
  }

  .desktop-nav {
    display: flex;
  }

  .desktop-nav p, .desktop-nav select {
    display: inline;
    margin-right: 30px;
  }
}